<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id    = "com.libreappfoundation.mcqarena"
    version   = "1.0.0">

  <name>MCQ Arena</name>

  <description>
    A collection of multiple choice questions to make learning easy
  </description>

  <author href="http://theopensourcefeed.com" email="niyasmonc@gmail.com">
    LibreApp Foundation
  </author>

  <!--
    If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires.
  -->
  

  
  <preference name="permissions"        value="none"/>
  <preference name="BackgroundColor" value="0xffffff"/>
  <preference name="orientation"        value="portrait" />
  <preference name="target-device"        value="universal" />
  <preference name="fullscreen"         value="true" />
  <preference name="android-installLocation"  value="auto" />

  <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
  </feature>
  <preference name="ShowSplashScreen" value="true" />
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="FadeSplashScreen" value="false"/>


  <!-- Define app icon for each platform. -->
  <icon src="icon.png" />
  <!--
  <icon src="img/icons/mipmap-mdpi/ic_launcher.png"   platform="android"  qualifier="mdpi" />
  <icon src="img/icons/mipmap-hdpi/ic_launcher.png"   platform="android"  qualifier="hdpi" />
  <icon src="img/icons/mipmap-xhdpi/ic_launcher.png"   platform="android"  qualifier="xhdpi" />
  <icon src="img/icons/mipmap-xxhdpi/ic_launcher.png"   platform="android"  qualifier="xxhdpi" />
  <icon src="img/icons/mipmap-xxxhdpi/ic_launcher.png"   platform="android"  qualifier="xxxhdpi" />
  -->

  <access origin="*"/>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  
</widget>
